@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* Fonts */

@layer base {
	@font-face {
		font-family: "Plus Jakarta Sans";
		src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	html {
		@apply font-sans;
	}
}
npx tailwindcss -o build.css --minify

/* Notifications */

.notification-active {
	@apply bg-secundary-lgblue1 rounded-lg;
}

.not-read {
	@apply ml-2 relative after:content-[''] after:absolute after:top-[40%] after:h-2 after:w-2 after:bg-primary-red after:rounded-[50%];
}
